{% extends "tienda/base.html" %}

{% block title %}Cliente: {{ cliente.nombre }}{% endblock %}

{% block content %}
    <h1>Cliente #{{ cliente.id }}</h1>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Email:</strong> {{ cliente.email }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
    <h3>Pedidos</h3>
    <ul>
        {% for p in cliente.pedidos.all %}
            <li>
                <a href="{% url 'tienda:detalle_pedido' pk=p.pk %}">
                    Pedido #{{ p.id }} - {{ p.estado }}
               
                </a>
            </li>
            {% empty %}
            <li> El Cliente no tiene pedidos.</li>

        {% endfor %}
    </ul>
{% endblock %}