{% extends "tienda/base.html" %}

{% block title %} Lista de Clientes {% endblock %}

{% block content %}

<h1>Clientes</h1>
<p> 
    <a href="{% url 'tienda:crear_cliente' %}" class="btn primary">Nuevo Cliente</a>
</p>
<ul>
  {% for cliente in clientes %}
    <li>
      <a href="{% url 'tienda:detalle_cliente' cliente.pk %}" class="btn primary">
        {{ cliente.nombre }}
      </a>
      - {{ cliente.correo }}
      - {{ cliente.fecha_registro }}
    </li>
  {% empty %}
    <li>No hay clientes.</li>
  {% endfor %}
</ul>

{% endblock %}